@{
    var username = Context.Session.GetString("NomeUsuario");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecentMemory</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/mdb/css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecentMemory.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RecentMemory</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Lembretes" asp-action="Index">Lembretes</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Contatos" asp-action="Index">Contatos</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Lugares" asp-action="Index">Lugares</a>
                            </li>

                        </ul>
                    </div>

                    <!-- Seção de perfil  -->
                <div class="d-flex align-items-center gap-3" style="border-left: 1px solid #e5e7eb; padding-left: 1.5rem;">
                    <div style="width: 40px; height: 40px; background: #0ea5e9; border-radius: 50%; display: flex; align-items: center; justify-content: center; color: white; font-weight: bold; font-size: 1.1rem; flex-shrink: 0;">
                        <img  style="width: 40px; height: 40px; background: #0ea5e9; border-radius: 50%;" src="/imagem/39779.png" alt="Foto de perfil">
                    </div>
                    <p>@username</p>

                    @if(string.IsNullOrEmpty(username))
                    {
                        <div "card-body"> 
                                <div class="d-none d-md-block">
                                    <!-- Login Button -->
                                    <a href="Login" class="btn btn-primary" style="background: #0ea5e9; border: none; padding: 8px 18px; border-radius: 6px; color: white; font-weight: 500; text-decoration: none; transition: background 0.2s;">
                                        Entrar
                                    </a>

                                </div>
                        </div>
                    }
                </div>
         </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - RecentMemory - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mdb/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-6+K4Yv5QjhoFfZ7gYsJhBKt3vnDnN/SfX2f/9fYU5vI="
        crossorigin="anonymous"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
