@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="w-100 row d-flex justify-content-between align-items-center" style="height:100vh;">
    <!-- Seção do formulário -->
    <div class="col form-section d-flex flex-column align-items-center justify-content-center p-5 bg-white" style="height:100vh;" >
        <h1 class="mb-4">Entrar na conta</h1>

        @if (!string.IsNullOrEmpty(ViewBag.Erro))
        {
            <div class="alert alert-danger">@ViewBag.Erro</div>
        }

        @* @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        { *@
            <form method="POST" class="w-75 text-start" asp-controller="Login" asp-action="Login">
                @Html.AntiForgeryToken()

                @* <div class="mb-3">
                    <input type="name" name="name" class="form-control form-control-lg" placeholder="Nome"
                        required />
                </div> *@

                <div class="mb-3">
                    <input type="email" name="email" class="form-control form-control-lg" placeholder="example.email@gmail.com"
                        required />
                </div>

                <div class="mb-3">
                    <input type="password" name="password" class="form-control form-control-lg" placeholder="Sua senha"
                        required />
                </div>

                <button type="submit" class="btn btn-primary btn-lg w-100">Entrar</button>
            </form>
        @* } *@

           
        <div class="login-link">
                    Não tem uma Conta? <a href="@Url.Action("Cadastrar", "Cadastrar")">Cadastrar - se</a>
                </div>
            </div>
        </div>

        <div class="col p-0 d-flex"  style="height:100vh;">
            <img src="/imagem/Selection.png" alt="imagem Tela de Login" class="img-fluid w-100 object-fit-cover ">
        </div>

        <!-- Seção da imagem -->
        @* <div class="col image-section d-flex align-items-center justify-content-center"
                style="flex:-1; background: linear-gradient(135deg,#7c3aed,#3b82f6);">
                <img src="/imagem/Selection.png" alt="imagem Tela de Login" class="img-fluid">
            </div> 
        *@

</div>

<style>
    .image-section img {
        position: absolute;
        top: 160px;
        left: 10px;
        width: 445px;
        height: 794px;
        border-radius: 0px;
        box-shadow: 0px 2px 4px #171a1f17, 0px 0px 2px #171a1f14;
</style>