@import url('<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&di');


/* Container ocupa toda a tela */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa altura total da tela */
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Conteúdo central */
.hero-content {
    max-width: 700px;
}

/* Logo + título centralizados */
.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.logo svg {
    width: 110px;
    height: 110px;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-sub {
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
}

/* Vídeo */
.video-wrap {
    position: relative;
    display: inline-block;
}

.video-image {
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.play svg {
    width: 24px;
    height: 24px;
    fill: black;
}
