@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutCadastrar.cshtml";
}

<div class="w-100 row d-flex justify-content-between align-items-center" style="height:100vh;">
    <!-- Seção do formulário -->
    <div class="col-12 col-md-6 d-flex flex-column align-items-center justify-content-center p-5 bg-white" style="height:100vh;" >
        <h1 class="mb-4">Criar uma conta</h1>

        @if (!string.IsNullOrEmpty(ViewBag.Erro))
        {
            <div class="alert alert-danger">@ViewBag.Erro</div>
        }

        @* @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        { *@
            <form method="POST" class="w-75 text-start" asp-controller="Cadastrar" asp-action="Cadastrar">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label for="nomeCompleto">Nome Completo</label>
                    <input type="text" id="nomeCompleto" name="nome" class="form-control form-control-lg"  placeholder="Seu nome completo" required />
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control form-control-lg"  placeholder="seu.email@exemplo.com" required />
                </div>

                <div class="mb-3">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="password" class="form-control form-control-lg" placeholder="Mínimo de 8 caracteres" required minlength="8" />
                </div>

                <div class="mb-3">
                    <label for="confirmaSenha">Confirmar Senha</label>
                    <input type="password" id="confirmaSenha" name="confirmPassword"  class="form-control form-control-lg" placeholder="Digite sua senha novamente" required minlength="8" />
                </div>

                <button type="submit" class="btn btn-primary btn-lg w-100">Cadastrar - se</button>
            </form>
        @* } *@

        </div>

        <div class="col p-0 d-flex"  style="height:100vh;">
            <img src="/imagem/Selection.png" alt="imagem Tela de Login" class="img-fluid w-100 object-fit-cover ">
        </div>

        <!-- Seção da imagem -->
        @* <div class="col image-section d-flex align-items-center justify-content-center"
                style="flex:-1; background: linear-gradient(135deg,#7c3aed,#3b82f6);">
                <img src="/imagem/Selection.png" alt="imagem Tela de Login" class="img-fluid">
            </div> 
        *@

</div>

<style>
    .image-section img {
        position: absolute;
        top: 160px;
        left: 10px;
        width: 445px;
        height: 794px;
        border-radius: 0px;
        box-shadow: 0px 2px 4px #171a1f17, 0px 0px 2px #171a1f14;
</style>